@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efeae2; /* צבע רקע מקורי (קרם/וואטסאפ) */
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif; /* שימוש בפונט רוביק */
  direction: rtl; /* יישור לימין כברירת מחדל */
}

/* הסתרת פס גלילה לאסתטיקה, אך משאיר גלילה פעילה */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
