@import "tailwindcss";
@theme {
  --font-sans: var(--font-rubik), ui-sans-serif, system-ui, sans-serif;
  --color-background: #efeae2;
  --color-foreground: #111827;
  --color-primary: #008069;
}

:root {
  --background: #efeae2;
  --foreground: #111827;
}

html, body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
}

.safe-area-view {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

* {
  -webkit-tap-highlight-color: transparent;
}
.test-debug {
  background: red;
  color: white;
  padding: 20px;
}
