@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efeae2; 
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.safe-area-view {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

* {
  -webkit-tap-highlight-color: transparent;
}

div, button, span, img, p, h1, h2, h3 {
  user-select: none;
  -webkit-touch-callout: none;
}

input, textarea {
  user-select: text !important;
  -webkit-user-select: text !important;
  -webkit-touch-callout: default !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
